body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #99b693;
}

#app {
    margin-top: 50px;
}

input {
    margin: 10px;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(75, 170, 248, 0.96);
    border-radius: 10%;
    color: #f4f4f4;
}
.options{
    margin-top: 10px;
    padding: 10px;
    width: 65%;
}