body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #a49ea1;
}

#app {
    margin-top: 50px;
}

input {
    margin: 10px;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color:  rgb(89, 103, 67);
    border-radius: 10%;
    color: #f4f4f4;
}
.options{
    margin-top: 10px;
    padding: 10px;
    width: 65%;
}
h3 {
    margin-top: 0;
    background-color: rgb(89, 103, 67);
    padding: 20px;
    color: #f4f4f4;
    display: flex; /* Use flexbox to position the button inside the header */
    justify-content: space-between; /* Space between text and button */
    align-items: center; /* Align vertically */
  }
  .buyPremium {
    margin: 0; /* Reset margin */
    width: auto; /* Adjust width as needed */
    padding: 10px 20px;
    background-color: #a49ea1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.buyPremium:hover{
    background-color: brown;
}
